


<ion-content id="login">


  <div padding-left padding-right>
    <div padding-top padding-bottom *ngIf="platformSO=='ios'"></div>
    <div padding></div>

    <div class="logo-wrapper">
      <img src="assets/img/citywallet-logo.png" alt="CityWallet Logo" class="logo">
    </div>
    <div padding></div>

    <ion-item-group padding>
      <form [formGroup]="loginForm" (ngSubmit)="doLogin(loginForm.value)" novalidate>
        <ion-item>
          <ion-label autocapitalize="none" floating>Usuario</ion-label>
          <ion-input type="email" [formControl]="loginForm.controls['email']" required></ion-input>
        </ion-item>
        <ion-item no-lines *ngIf="email.dirty && !email.valid" class="alert alert-danger">
          <p class=' error-message' *ngIf="email.errors.required">{{requiredError}}</p>
          <p class=' error-message' *ngIf="email.errors.validateEmailAlias">{{formatError}}</p>
        </ion-item>
        <ion-item>
          <ion-label floating>Contraseña</ion-label>
          <ion-input type="password" [formControl]="loginForm.controls['password']" required></ion-input>
        </ion-item>
        <ion-item no-lines *ngIf="password.dirty && !password.valid" class="alert alert-danger">
          <p class=' error-message' *ngIf="password.errors.required">{{requiredError}}</p>
        </ion-item>
        <ion-item padding-top no-lines></ion-item>
        <ion-item padding-bottom no-lines>
          <button ion-button class="btnCenter hover-button" ion-text="cw-lg-green"
                  [disabled]="!loginForm.valid||disabled"
                  round>Entrar
          </button>
        </ion-item>
      </form>


      <ion-item no-lines class="center-text cw-green no-border-item">
        <a class="cw-green" (click)="goForgot()">Restablecer contraseña </a>
      </ion-item>
    </ion-item-group>
  </div>
</ion-content>
