<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-item no-lines class="center-text">
      <div item-left>
        <a (click)="dismiss()">
          <ion-icon class="arrow" name="md-arrow-back"></ion-icon>
        </a>
      </div>
      <h2 class="cw-header-title cw-back-title">Restablecer Contraseña</h2>
      <img item-right src="assets/img/citywalletLogo.png" class="cw-logo">
    </ion-item>
  </ion-navbar>
</ion-header>
<ion-content id="login" padding>
  <div padding></div>
  <div class="logo-wrapper">
    <img src="assets/img/citywallet-logo.png" alt="CityWallet Logo" class="logo">
  </div>
  <ion-item-group no lines padding>
    <ion-item text-wrap no-lines>
      <p class="center-text" padding>Ingresa el correo electrónico o usuario asociado a tu cuenta CityWallet y te
        enviaremos un código de confirmación para que restablezcas
        tu contraseña</p>
    </ion-item>
    <form [formGroup]="forgotForm" (ngSubmit)="doForgotPassword(forgotForm.value)" novalidate>
      <ion-item>
        <ion-label floating>Usuario o correo electrónico</ion-label>
        <ion-input type="text" [formControl]="forgotForm.controls['email']" required></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="email.dirty && !email.valid" class="alert alert-danger no-border">
        <p class=' error-message' *ngIf="email.errors.required">{{requiredError}}</p>
        <p class=' error-message' *ngIf="email.errors.validateEmailAlias">{{formatError}}</p>
      </ion-item>
      <div padding></div>
      <ion-item padding>
        <button block class="hover-button" ion-button color="cw-lg-green"
                [disabled]="!forgotForm.valid||disabled" round>
          Enviar
        </button>
      </ion-item>
    </form>

  </ion-item-group>

</ion-content>
