page-home {
  .logout{
    max-height: 25px;
    color:white!important;
  }
  .cw-col-left{
    background-color: #236F80 !important;
    min-height: -webkit-fill-available!important;
  }
  .text{
    color:white!important;
  }
}
