page-home {
  .logout{
    max-height: 25px;
    color:white!important;
  }
  .cw-col-left{
    background-color: #236F80 !important;
    min-height: -webkit-fill-available!important;
    min-height: 724px;
    height: 100%;
  }
  .text {
    color: white !important;
  }
.sub-title{
  color:black!important;
  font-size: 2.0rem!important;
  margin-top: 10px;
}
}
