<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-item no-lines class="center-text">
      <div item-left>
        <a (click)="dismiss()">
          <ion-icon class="arrow" name="md-arrow-back"></ion-icon>
        </a>
      </div>
      <h2 class="cw-header-title cw-back-title">Restablecer Contraseña</h2>
      <img item-right src="assets/img/citywalletLogo.png" class="cw-logo">
    </ion-item>
  </ion-navbar>
</ion-header>


<ion-content padding id="login">
  <div padding></div>
  <div class="logo-wrapper">
    <img src="assets/img/citywallet-logo.png" alt="CityWallet Logo" class="logo">
  </div>
  <ion-item-group padding>
    <ion-item text-wrap no-lines>
      <p class="center-text">Te enviamos un correo electrónico con el código de confirmación para reestablecer tu
        contraseña.
        ¡Revisa tu bandeja de entrada!</p>
    </ion-item>
    <form [formGroup]="confirmForgotForm" (ngSubmit)="doConfirmation(confirmForgotForm.value)" novalidate>
      <ion-list>
        <ion-grid>
          <ion-row class="">
            <ion-item>
              <ion-label floating>Código de confirmación</ion-label>
              <ion-input class='border-input-ios' type="number"
                         onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                         pattern="[0-9]*"
                         [formControl]="confirmForgotForm.controls['confirmationCode']"
                         required></ion-input>
            </ion-item>
          </ion-row>
          <ion-item no-lines *ngIf="confirmationCode.dirty && !confirmationCode.valid"
                    class="alert alert-danger">
            <p class=' error-message' *ngIf="confirmationCode.errors.required">{{requiredError}}</p>
          </ion-item>
          <ion-row class="">
            <ion-col width-90>
              <ion-item class="">
                <ion-label class="" floating>Contraseña</ion-label>
                <ion-input class='border-input-ios' type="{{inputType}}"
                           [formControl]="confirmForgotForm.controls['newPassword']"
                           required></ion-input>
              </ion-item>
            </ion-col>
            <ion-col width-10>
              <ion-icon class="cw-discover" ios="{{eyesTypeios}}" md="{{eyesTypemd}}"
                        (click)="changePasswordType()" item-right></ion-icon>
            </ion-col>
          </ion-row>

          <ion-item no-lines *ngIf="newPassword.dirty &&!newPassword.valid" class="alert alert-danger"
                    padding-bottom>
            <p class=' error-message'>
                            <span *ngIf="newPassword.errors.validatePasswordLength"><ion-icon class="badValidate"
                                                                                              name="close"></ion-icon></span>
              <span *ngIf="!newPassword.errors.validatePasswordLength"><ion-icon class="goodValidate"
                                                                                 name="checkmark"></ion-icon></span>
              Al menos 8 carácteres.
            </p>
            <p class=' error-message'>
                            <span *ngIf="newPassword.errors.validatePasswordUpperCase"><ion-icon class="badValidate"
                                                                                                 name="close"></ion-icon></span>
              <span *ngIf="!newPassword.errors.validatePasswordUpperCase"><ion-icon class="goodValidate"
                                                                                    name="checkmark"></ion-icon></span>
              Al menos 1 carácter en mayúscula.
            </p>
            <p class=' error-message'>
                            <span *ngIf="newPassword.errors.validatePasswordLowerCase"><ion-icon class="badValidate"
                                                                                                 name="close"></ion-icon></span>
              <span *ngIf="!newPassword.errors.validatePasswordLowerCase"><ion-icon class="goodValidate"
                                                                                    name="checkmark"></ion-icon></span>
              Al menos 1 carácter en minúscula..
            </p>
            <p class=' error-message'>
                            <span *ngIf="newPassword.errors.validatePasswordNumber"><ion-icon class="badValidate"
                                                                                              name="close"></ion-icon></span>
              <span *ngIf="!newPassword.errors.validatePasswordNumber"><ion-icon class="goodValidate"
                                                                                 name="checkmark"></ion-icon></span>
              Al menos 1 carácter númerico.
            </p>
            <p class=' error-message'>
                            <span *ngIf="newPassword.errors.validatePasswordSpecial"><ion-icon class="badValidate"
                                                                                               name="close"></ion-icon></span>
              <span *ngIf="!newPassword.errors.validatePasswordSpecial"><ion-icon class="goodValidate"
                                                                                  name="checkmark"></ion-icon></span>
              Al menos 1 carácter especial.
            </p>
            <p *ngIf="newPassword.errors.validatePasswordNonSpecialAllow" class=' error-message'>
              <span><ion-icon class="badValidate" name="close"></ion-icon></span>
              No puede poseer espacio o los siguientes caracteres = ó +
            </p>
          </ion-item>
          <ion-item no-lines padding>
            <button ion-button class="btnCenter hover-button center-element" color="cw-lg-green"
                    [disabled]="!confirmForgotForm.valid||disabled" round>Continuar
            </button>
          </ion-item>
        </ion-grid>
      </ion-list>
    </form>
  </ion-item-group>
</ion-content>
